* {
  /* color: #3f3f3f;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #8f8f8f; */
  /* background-color: #ffffff;  */
}
/* .tiktok-embed {
    position: relative;
    display: block;
    width: 100%;
    margin: 18px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.15;
    overflow: hidden;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    font-family: "proxima-regular", "PingFangSC", sans-serif;
    font-weight: 400;} */


.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}


  .custom-link {
    text-decoration: none;  /* buang underline */
    color: inherit;         /* ikut warna asal text (tak jadi biru) */
    cursor: pointer;        /* tukar cursor jadi tangan */
  }

  .custom-link:hover {
    color: #007bff; /* optional: tukar warna bila hover */
  }